html {
  scroll-behavior: smooth; 
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

.body_wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1222px;
  margin: 0 auto;
  padding: 0 20px 0;
}

/* Header styles start */

.header {
  width: 100%;
  height: 134px;
  background-color: #EDF2EC;
}

.header_container {
  width: 100%;
  height: 134px;
  display: flex;
}

.navbar {
  width: 100%;
  height: 50px;
  margin: auto 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logo {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  margin-left: 1px;
}

.logo_icon {
  width: 21px;
  height: 23px;
  margin-top: 8px;
}

.logo_plants {
  font-family: 'Inika';
  font-size: 16px;
  line-height: 15px;
  color: #000000;
}

.nav {
  width: 452px;
  height: 50px;
  display: flex;
}

.nav_menu {
  width: 452px;
  height: 50px;
  margin-right: 1px;
}

.menu_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 0;
  padding: 0;
}

.menu_item {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  color: #010201;
  text-decoration: none;
}

.menu_item:hover {
  background: #E06733;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Header styles end */

/* Main styles start */

/* Welcome styles start */

.welcome {
  width: 100%;
  height: 532px;
  display: flex;
  align-items: center;
  background-color: #EDF2EC;
}

.welcome_container {
  width: 1222px;
  height: 407.36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.leaves_image {
  width: 470px;
  background: url(./assets/images/leaves.png) no-repeat;
  background-position: -10px -10px;
  background-size: auto;
}

.leaves {
  width: auto;
  height: 100%;
}

.welcome_info {
  width: 852px;
  display: flex;
  justify-content: flex-end;
}

.welcome_text {
  width: 547px;
  height: 340px;
  margin: 36px 3px 32px 0;
}

h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin: 0;
}

.green_word {
  color: #499A18;
}

.section_text {
  line-height: 35px;
  margin-top: 43px;
}

.button {
  border: 2px solid #E06733;
  width: 158px;
  height: 44px;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  margin-top: 27px;
}

.button_text {
  font-size: 16px;
  line-height: 20px;
  margin: auto;
  color: #000000;
}

/* Welcome styles end */

/* About styles start */

.about {
  width: 100%;
  height: 666px;
  display: flex;
  align-items: center;
}

.about_container {
  width: 1222px;
  height: 479px;
  display: flex;
}

.about_info {
  width: 758px;
}

.text_block {
  width: 605px;
  height: 370px;
  margin-top: 67px;
}

.h2_green {
  width: 600px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin-bottom: 38px;
}

.orange_word {
  color: #E06733;
}

.houseplant_1 {
  width: 464px;
  background: url(./assets/images/houseplant_1.png) no-repeat;
  background-position: -1px -2px;
}

/* About styles end */

/* Service styles start */

.service {
  width: 100%;
  height: 1300px;
  display: flex;
  background-color: #EDF2EC;
}

.service_container {
  width: 1222px;
  height: 1179px;
  display: flex;
  flex-direction: column;
}

.service_buttons {
  width: 1007px;
  height: 108px;
  margin-top: 40px;
  display: flex;
}

.h2_service {
  width: 350px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin: -1px 60px 0 -1px;
}

.button_service {
  border: 1px solid #E06733;
  border-radius: 5px;
  width: 161px;
  height: 50px;
  margin: 28px 0 0 38px;
}

.button_text2 {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  margin: auto;
}

.service_content {
  margin-top: 76px;
  width: 1222px;
  height: 955px;
  display: grid;
  grid-template-columns: 330px 330px 330px;
  grid-template-rows: 450px 450px;
  grid-column-gap: 116px;
  grid-row-gap: 55px;
}

.service_item {
  width: 330px;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.service_image {
  height: 350px;
}

.image_item {
  border-radius: 22px 22px 0px 0px;
  object-position: center;
  margin: -1px 0 0 -1px;
}

.service_text {
  width: 328px;
  height: 100px;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 22px 22px;
  margin: -1px 0 0 -1px;
}

h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #E06733;
  text-align: center;
  margin: 9px 0 0;
}

.text_item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  text-align: center;
  margin-top: 14px;
}

/* Service styles end */

/* Prices styles start */

.prices {
  width: 100%;
  height: 560px;
  display: flex;
}

.prices_container {
  width: 1222px;
  height: 405px;
  display: flex;
  margin-top: 40px;
}

.left_content {
  width: 331px;
  height: 388px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.right_content {
  width: 891px;
  height: 405px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.select_items {
  width: 330px;
  height: 284px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  margin-left: -1px;
}

.price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin: -2px 0 60px 0;
}

.select {
  width: 250px;
  height: 50px;
  background: #EDF2EC;
  border-radius: 20px;
  margin-top: 33px;
  display: flex;
  align-items: center;
}

.select_option {
  width: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin-left: 40px;
}

.accordion_btn {
  margin-left: 63px;
}

h3 {
  width: 500px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
  margin: -2px 3px 0 0;
}

.button_price {
  width: 162px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  margin: 39px 2px 0 0;
  background-color: #FFFFFF;
}

.button_text3 {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #E06733;
  margin: auto;
}

.leaves_small {
  width: 891px;
  height: 175px;
  background: url(./assets/images/leaves_small.png) no-repeat;
  background-position: right -8px bottom -4px;
  margin-top: 42px;
}

/* Prices styles end */

/* Contacts styles start */

.contacts {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: flex-end;
  background-color: #EDF2EC;
}

.contacts_container {
  width: 1222px;
  height: 497px;
  display: flex;
}

.contact_woman {
  width: 400px;
  background: url(./assets/images/contact_woman.png) no-repeat;
  background-position: left -1px top -3px;
}

.contact_us {
  width: 200px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin: 4px 0 0 112px;
}

.contact_form {
  width: 450px;
  height: 50px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  margin: 92px 0 0 58px;
  display: flex;
  align-items: center;
}

.city {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
  margin-left: 21px;
}

.accordion_btn2 {
  margin-left: 337px;
}

/* Contacts styles end */

/* Footer styles start */



/* Footer styles end */

/* Main styles end */